# Heroes Of Pymoli Data Analysis

* There are 573 players, of which 81% of them are male, 17% are female and remaining portion of the players are unidentified
* In term of age demographic, majority of the players are in the age range 20-24 (45.2%), follow by 15-19 (17.45%) and 25-29 (15.18%).
* Our players are putting in significant cash during the lifetime of their gameplay. However, male player spend more the their female counterpart,  Dollar 1867.68 vs Dollar 382.91 respectively.

In [50]:
# Dependencies
import pandas as pd
import numpy as np

In [51]:
# Get the file path
filepath = ("/Users/abulla/Downloads/USCLOS201805DATA1-Class-Repository-DATA-master/02-Homework/04-Numpy-Pandas/Instructions/HeroesOfPymoli/purchase_data.json")

In [52]:
# Read the json file
df= pd.read_json(filepath, orient ="records")
# Display the first 5 rows
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

 ## Player Count

* **Total Number of Players**

In [53]:
# Calculate the unique number of players by "SN" from the df.
Players_demographics = df.loc[:,["SN", "Gender", "Age"]]

In [54]:
# Clean the Players_demographics first
Players_demographics = Players_demographics.drop_duplicates()
Total_Number_of_Players= Players_demographics['SN'].nunique()
Total_Number_of_Players

573

In [55]:
# Create a dataframe and print ou the the total Number of Players
pd.DataFrame({"Total Number of Players": [Total_Number_of_Players]})

   Total Number of Players
0                      573

### Purchasing Analysis (Total)

* Number of **Unique Items**

In [56]:
unq_item= df['Item Name'].nunique()

* **Average** Purchase Price

In [57]:
avg_pur_price= df["Price"].mean()

* **Total Number** of Purchases

In [58]:
total_num_pur= len(df)

* **Total Revenue**

In [59]:
total_rev= df['Price'].sum()

In [60]:
# Print out the dataframe

pd.DataFrame({"Number of Unique Items": unq_item,
            "Average Purchase Price": avg_pur_price,
             "Total Number of Purchases": total_num_pur,
             "Total Revenue": total_rev},index=[0])

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.931192,179,780,2286.33

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [61]:
Gender_Total_Count = pd.value_counts(Players_demographics['Gender'])
Percentageof_players = (Gender_Total_Count/len(Players_demographics)*100).round(2)

# print out the dataframe
gender_demographics = pd.DataFrame({'Total Count': Gender_Total_Count,
                                  'Percentage of Players': Percentageof_players })
gender_demographics

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

### Purchasing Analysis (Gender)
* The below each broken by gender
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Normalized Totals

In [62]:
# Calculate Group by "Gender"
Purchase_Count = df.groupby(['Gender']).count()['Price']
Average_Purchase_Price = df.groupby(['Gender']).mean()['Price']
Total_Purchase_Value = df.groupby(['Gender']).sum()['Price']

Normalized_Totals = Total_Purchase_Value/gender_demographics["Total Count"]


Gender_Purchasing_Data = pd.DataFrame({'Normalized Totals': Normalized_Totals,
                                       'Purchase Count': Purchase_Count,
                                       'Total Purchase Value': Total_Purchase_Value,
                                       'Average Purchase Price': Average_Purchase_Price})
print("Purchasing Analysis (Gender)")
print("===========================")
Gender_Purchasing_Data

Purchasing Analysis (Gender)
===========================

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,2.815515,3.829100,136,382.91
Male,2.950521,4.016516,633,1867.68
Other / Non-Disclosed,3.249091,4.467500,11,35.74

## Age Demographics
* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Normalized Totals

### Age Demographics

In [63]:
df['Age'].max() # Maximum Age

45

In [64]:
df['Age'].min() # Minimum Age

7

In [65]:
#Create a bin for age
bins = [0, 9.90,14.90,19.90,24.9,29.9,34.90,39.90, 44.90] 
#Create a lables for bin
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39", "40+"]

In [66]:
# add column of bin
Players_demographics["Age Range"] = pd.cut(Players_demographics["Age"], bins, labels = group_name)

Players_demographics.head()

             SN Gender  Age Age Range
0     Aelalis34   Male   38     35-39
1        Eolo46   Male   21     20-24
2   Assastnya25   Male   34     30-34
3  Pheusrical25   Male   21     20-24
4        Aela59   Male   23     20-24

In [67]:
age_distribution = Players_demographics["Age Range"].value_counts()
percentage_age_distribution = (age_distribution/Total_Number_of_Players * 100).round(2)
age_demographics = pd.DataFrame({"Total Count": age_distribution, "Percent of Players": percentage_age_distribution })
age_demographics

       Percent of Players  Total Count
20-24               45.20          259
15-19               17.45          100
25-29               15.18           87
30-34                8.20           47
35-39                4.71           27
10-14                4.01           23
<10                  3.32           19
40+                  1.75           10

# Purchase Analysis

In [68]:
# Bin the df
df["Age Ranges"] = pd.cut(df["Age"], bins, labels=group_name)
# basic calculations
age_purchase_total = df.groupby(["Age Ranges"]).sum()["Price"]
age_average = df.groupby(["Age Ranges"]).mean()["Price"]
age_counts = df.groupby(["Age Ranges"]).count()["Price"]
# Normalized Purchasing
Normalized_Totals = age_purchase_total/age_demographics["Total Count"]

# DataFrame
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_total, "Normalized Totals": Normalized_Totals})

# Data Munging
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Normalized Totals"] = age_data["Normalized Totals"].map("${:,.2f}".format)

age_data.head()

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
10-14,$2.77,$4.22,35,$96.95
15-19,$2.91,$3.86,133,$386.42
20-24,$2.91,$3.78,336,$978.77
25-29,$2.96,$4.26,125,$370.33
30-34,$3.08,$4.20,64,$197.25

### Top Spenders
* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    * SN
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value

In [69]:
# Basic calculation
total_purchase = df.groupby(["SN"]).sum()["Price"]
average_pur_price = df.groupby(["SN"]).mean()["Price"]
purchase_count = df.groupby(["SN"]).count()["Price"]
# Data Frame
purchaser_info = pd.DataFrame({"Total Purchase Amount": total_purchase,
                          "Average Purchase Price": average_pur_price,
                          "Purchase Count": purchase_count})

purchaser_info.sort_values("Total Purchase Amount", ascending=True)


# Data Munging
purchaser_info["Average Purchase Price"] = purchaser_info["Average Purchase Price"].map("${:,.2f}".format)
purchaser_info["Total Purchase Amount"] = purchaser_info["Total Purchase Amount"].map("${:,.2f}".format)
# Display the table
purchaser_info.head()

             Average Purchase Price  Purchase Count Total Purchase Amount
SN
Adairialis76                  $2.46               1                 $2.46
Aduephos78                    $2.23               3                 $6.70
Aeduera68                     $1.93               3                 $5.80
Aela49                        $2.46               1                 $2.46
Aela59                        $1.27               1                 $1.27

### Most Popular Items
* Identify the 5 most popular items by purchase count, then list (in a table):
    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [70]:
# get list of top 5 most popular items by count
items = df.groupby(['Item ID','Item Name'])['Price'].agg(['count','sum','mean']).sort_values(['count'], ascending= False).reset_index()
most_pop_items = items[:5]
# rename columns
top5_items = most_pop_items.rename(columns = {'count': 'Purchase Count', 'mean' : 'Item Price', 
                                                    'sum' : 'Total Purchase Value' })
# format columns/data munging
top5_items['Item Price'] = top5_items['Item Price'].map("$ {:,.2f}".format)
top5_items['Total Purchase Value'] = top5_items['Total Purchase Value'].map("$ {:,.2f}".format)

# set Index to Item ID and Item Name
top5_items_df = top5_items.set_index(['Item ID', 'Item Name'])
top5_items_df[['Purchase Count', 'Item Price', 'Total Purchase Value']]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$ 2.35,$ 25.85
84,Arcane Gem,11,$ 2.23,$ 24.53
31,Trickster,9,$ 2.07,$ 18.63
175,Woeful Adamantite Claymore,9,$ 1.24,$ 11.16
13,Serenity,9,$ 1.49,$ 13.41

### Most Profitable Items
* Identify the 5 most profitable items by total purchase value, then list (in a table):
    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [71]:
# get list of top 5 most profitable items by sum
items_sum = df.groupby(['Item ID','Item Name'])['Price'].agg(['count','sum','mean']).sort_values(['sum'], ascending= False).reset_index()
top_items_sum = items_sum[:5]

# rename columns
profitable_items = top_items_sum.rename(columns = {'count': 'Purchase Count', 'mean' : 'Item Price', 
                                                    'sum' : 'Total Purchase Value' })
# format columns
profitable_items['Item Price'] = profitable_items['Item Price'].map("$ {:,.2f}".format)
profitable_items['Total Purchase Value'] = profitable_items['Total Purchase Value'].map("$ {:,.2f}".format)

# set Index to Item ID and Item Name
profitable_items_df = profitable_items.set_index(['Item ID', 'Item Name'])
profitable_items_df[['Purchase Count', 'Item Price', 'Total Purchase Value']]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$ 4.14,$ 37.26
115,Spectral Diamond Doomblade,7,$ 4.25,$ 29.75
32,Orenmir,6,$ 4.95,$ 29.70
103,Singed Scalpel,6,$ 4.87,$ 29.22
107,"Splitter, Foe Of Subtlety",8,$ 3.61,$ 28.88

## As final considerations:
   * You must use the Pandas Library and the Jupyter Notebook.
   * You must submit a link to your Jupyter Notebook with the viewable Data Frames.
   * You must include an exported markdown version of your Notebook called  README.md in your GitHub repository.
   * You must include a written description of three observable trends based on the data.
   * See Example Solution for a reference on expected format.